.calc {
	display: grid;
	width: 250px;
	background-color: var(--bg-surf);
	padding: var(--lg);
}

.calc,
.viewfinder {
	border-radius: var(--xs);
}

.viewfinder {
	background-color: var(--sec);
	color: var(--bg-main);
	padding: var(--lg);
	display: grid;
	gap: var(--lg);
}

.req {
	font-size: 1.5rem;
}

.result {
	font-size: 2.5rem;
	margin-left: auto;
}

.form {
	padding-top: var(--lg);
	display: grid;
	gap: var(--lg);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
		"al an ab div"
		"a7 a8 a9 sum"
		"a4 a5 a6 sub"
		"a1 a2 a3 mul"
		"no a0 ap equ";
}

.b {
	grid-area: ab;
}

.l {
	grid-area: al;
}

.sum {
	grid-area: sum;
}

.sub {
	grid-area: sub;
}

.mul {
	grid-area: mul;
}

.div {
	grid-area: div;
}

.sum,
.sub,
.mul,
.div,
.b,
.ap {
	color: var(--pri);
}

.equ {
	grid-area: equ;
}

.a1 {
	grid-area: a1;
}

.a2 {
	grid-area: a2;
}

.a3 {
	grid-area: a3;
}

.a4 {
	grid-area: a4;
}

.a5 {
	grid-area: a5;
}

.a6 {
	grid-area: a6;
}

.a7 {
	grid-area: a7;
}

.a8 {
	grid-area: a8;
}

.a9 {
	grid-area: a9;
}

.a0 {
	grid-area: a0;
}

.ap {
	grid-area: ap;
}

button {
	border: none;
	background-color: transparent;
	color: var(--sec);
}
