:root {
	/* Dark mode*/
	--bg-main: #1c1c1e; /* Fondo Principal */
	--bg-surf: #2c2c2e; /* Superficie */
	--pri: #bb86fc; /* Primario */
	--sec: #bfcdb6; /* Secundario */
	--t-main: #e0e0e0; /* Texto Principal */
	--t-sec: #c0c0c0; /* Texto Secundario */
	/* Common */

	--green: #8c9900;
}
